
R-Samples.Rproj
.Rproj.user/shared/notebooks/paths
.Rproj.user/DF1C176F/pcs/files-pane.pper
.Rproj.user/DF1C176F/pcs/windowlayoutstate.pper
.Rproj.user/DF1C176F/pcs/workbench-pane.pper
.Rproj.user/DF1C176F/sources/prop/INDEX
.Rproj.user/DF1C176F/sources/session-dd80efa4/DF6E4C44
.Rproj.user/DF1C176F/sources/session-dd80efa4/DF6E4C44-contents
.Rproj.user/DF1C176F/sources/session-dd80efa4/1503226F-contents
.Rproj.user/DF1C176F/sources/prop/1F1B38AB
.Rproj.user/DF1C176F/sources/prop/1009F308
.Rproj.user/DF1C176F/pcs/source-pane.pper
.Rproj.user/shared/notebooks/DCF81C57-Bellabeat Case Study with R/1/s/chunks.json
.Rproj.user/DF1C176F/sources/session-dd80efa4/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
